.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	padding: 0px 1rem;
	cursor: default;
}

.part-selector {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	padding: 15vh 0px;
}

.chair-part-image {
	width: 50px;
	height: auto;
	border: 4px solid #ffffff;
	border-radius: 16px;
	box-shadow: 0 0 10px #c4c4c4;
	transition: all 200ms ease-out;
	padding: 0.35rem 0.25rem;
	cursor: pointer;
}

.chair-part-image.selected {
	border: 4px solid #b4d5fe;
}

.chair-canvas {
	min-height: 100vh;
	cursor: grab;
}

.colorpicker-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	padding: 1rem 0px;
}

.color-picker {
	height: 50px;
	width: 50px;
	border: 4px solid #ffffff;
	border-radius: 16px;
	box-shadow: 0 0 10px #c4c4c4;
	transition: all 200ms ease-out;
	cursor: pointer;
}

.color-picker img {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	object-fit: cover;
}

.ReactModal__Content {
	display: flex;
	flex-direction: column;
	inset: auto !important;
	width: 50vw;
	height: 25vh;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}

.modal-form-div {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.form-header-div {
	display: flex;
	padding-top: 2.5vh;
	justify-content: space-between;
	flex: 1;
}

.modal-form-div .color-selector,
.modal-form-div button,
.modal-form-div h4 {
	cursor: pointer;
}

.modal-form-div h4 {
	margin: 0px;
}

.form-header-div input {
	height: 32px;
}

.color-input-text {
	margin-left: 0.5rem;
	border: 1px solid black;
	border-radius: 4px;
	padding-left: 0.5rem;
}

.form-header-div label {
	margin-right: 0.5rem;
}

.form-submit-button {
	align-self: center;
	width: 150px;
	height: 36px;
	border: 0;
	background-color: #24a0ed;
	color: #fff;
	letter-spacing: 0.75px;
	font-size: 0.875rem;
	border-radius: 4px;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
